# Latex workspace & outputs.
paper/*.pdf
paper/*.synctex.gz
paper/*.thm
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.fls
paper/*.fdb_latexmk
paper/*.out

*.log
*.mat
*.synctex.gz 
*.aux 
*.out 
resp_letter/*.pdf 

.DS_Store
.vscode/
*.asv
*.xdv
*.zip 

# Data storage.
code/data/
paper/data/


